@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2>What is EHR Application?</h2>
        <p>
            Did you know that it costs $100 to find out what time you were born? Access to your health records should be for free!
            EHR is a revolutionary concept that will allow any patient to view their records online. Currently, this is not available yet in Canada
            so this is essentially a mock-up. The EHR application uses Entity Framework in an ASP.NET MVC web application.

        </p>
    </div>
